/* 设置背景 及 整体的样式 */
body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  @include bg_image('../imgs/bg1.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}

@media (max-width: 1200px) { 
  body {
      font-size: $font-size-large;
  }
}

@media (max-width: 991px) { 
  body {
      font-size: $font-size-medium;
  }
}

@media (max-width: 767px) { 
  body {
      font-size: $font-size-small;
  }
}

@media (max-width: 576px) {
  body {
      font-size: $font-size-small-s;
  }
}

.container {
	width: 80%;
	margin: 5vh auto 0;
}

@media (min-width: 576px) {
  .container {
    margin-top: 10vh;
  }
}

.logo {
  width: 100%;
  margin-bottom: 10px;

  img {
    display: inline-block;
    max-width: 100%;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mian-containter {
  width: 100%;
  background-color: rgba(44, 44, 44, 0.5);
}
