#nav {
    
    .navbar {
        display: flex;
        justify-content: space-between;

        .menulists {

            .navbar-nav {
                width: 100%;
        
                .nav-item {
                    display: inline-flex;
                    flex: 1;
                    padding: 0 10px;
                    justify-content: space-around;
                    letter-spacing: 0.2rem;
                    background-color: $color-background;
                    margin: 5px;
                    border-radius: 6px;
        
                    .nav-link {                
                        padding-right: 0;
                        padding-left: 0.2rem;
        
                        &.router-link-exact-active {
                            color: $color-theme;
                        }
                    }
                }
            }
        }

        .handles {            
     
            .search {
                height: 30px;
                position: relative;
                box-sizing: content-box;

                input {
                    width: 170px;
                    padding: 5px 10px;
                    font-size: 16px;
                    color: $color-text-default;
                    border: 0.5px solid $color-theme;
                    border-radius: 8px;
                    background-color: transparent;
                }	
                
            }

            .sign {
                margin-left: 10px;

                a {
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    color: $color-text;

                    &.join {
                        padding: 0 5px;
                        border: 1px solid #fff;
                        border-radius: 4px;
                        margin-left: 10px;
                    }
                }
            }
        }

    
    }

}

.head {

    .head-top {
        padding: 0 20px;
        box-sizing: content-box;
           
            			
        .navbar-toggle {
            float: none;
            padding: 0;
            margin: 0;

            #myCollapse {
                display: flex;
                height: 20px;
                margin-top: 10px;

                .login {
                    flex: 1;
                    padding: 4px 0 0;

                    .tab {
                        float: left;
                        height: 14px;
                        line-height: 14px;

                        &:first-child {
                            padding-right: 10px;
                            margin-right: 10px;
                            border-right: 1px solid $color-text-default;	
                        }
                            
                        .link {
                            font-size: 14px;
                            color: $color-text-default;
                        }
                    }
                }       
                            
                .minSearch {
                    flex: 0 0 130px;
                    position: relative;
                    vertical-align: top;

                    #icon {
                        float: right;
                        width: 120px;
                        height: 20px;
                        line-height: 20px;
                        padding: 0 20px 0 10px;
                        font-size: 12px;
                        color: $color-text-default;
                        border: 0.5px solid #378888;
                        border-radius: 25px;
                        background-color: transparent;
                        box-sizing: border-box;
                    }	
                        
                    #icon_search {
                        position: absolute;
                        right: 16px;
                        top: 2px;
                        color: rgba(66, 66, 66, 0.7);
                    }
                       
                }
                    
            }
               	
        }
            
    }
        					
    .head-bottom {
        height: 36px;

        .navbar-collapse {
            margin-top: 0;

            .nav {
                display: flex;

                > li {
                    flex: 1;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;

                    .link {
                        font-size: $font-size-large;
                        color: $color-text-default;
                        cursor: pointer;

                        &.active,
                        &:hover {
                            color: rgba(0,0,255,0.6);
                            font-weight: bold; 
                        }
                      
                    }
                       
                }
                    
            }
                
        }
            				
            
        .navbar-toggle {
            width: 100%;
            float: narmal;
            padding: 0;
            margin: 0;

            .minNavs {
                display: flex;

                li {
                    flex: 1;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;

                    .link {
                        color: $color-text-default;

                        &.active,
                        &:hover {
                            color: rgba(0,0,255,0.6);
                            font-weight: bold;
                        }
                            
                    }
                        
                    .allKind {
                        width: 80px;
                        margin: 0 auto; 
                        background-color: #fff;
                        position: relative;
                        z-index: 99999;
                    }
                        
                }
                    
            }
                
                
        }
            
    }
        	
        
}
    