@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  @include bg_image('../imgs/bg1.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}

* {
  margin: 0;
  padding: 0;
  font-style: normal;
}
  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "微软雅黑";
  background-color: #fff;
}

fieldset, img, input, button, textarea {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ol, ul {
  list-style: none;
}
  
blockquote, q {
  quotes: none;
}
  
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
  
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "arial", "microsoft yahei", "微软雅黑";
}

select, input {
  vertical-align: middle;
}
  
select, input, textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

/* 清除IE 默认的 X 号 */
input::-ms-clear, 
input::-ms-reveal {
  display: none !important;
}

/*防止多行文本框拖动*/
img {
  border: 0;
  vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, select {
  border: none;
  outline: none;
}

.clear {
  clear: both;
  width: 100%;
  display: block;
  height: 0;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix {
  *zoom: 1;

  &:after {
    clear: both;
  }
    
}

a {
  text-decoration: none;
  color: #333333;

  &:hover {
    color: #f87c0f;
  }
    
  &:focus {
    outline: none;
    -moz-outline: none;
  }
    
}

/* 使用图片作为a标签的点击按钮时，当触发touchstart的时候，往往会有一个灰色的背景： */
a, 
a:hover, 
a:active, 
a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}
